.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBlock {
  display: flex;
}

.infoBlock {
  font-size: 20px;
  font-weight: 700;
}
.countryImg {
  width: 200px;
  height: 100px;
}
