.menuBlock {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.country {
  padding-bottom: 10px;
  background-color: var(--background-color-country);
  border: 2px solid black;
  color: var(--text-color);
  border-radius: 8px;
  height: 200px;
  width: 100%;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 20px;
  font-weight: 700;
}

.country:hover {
  box-shadow: 4px 4px 10px var(--background-color-shadow), -4px -4px 10px var(--background-color-shadow);
}
.countryImg {
  margin-top: 10px;
  border: 3px solid black;
  width: 180px;
}
.countryName {
  font-size: 26px;
  font-weight: 900;
}

.select {
  background-color: var(--background-color-country);
  height: 30px;
  width: 200px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
}
