.main {
  text-align: center;
}

.countryList {
  font-size: 20px;
  height: 500px;
  font-weight: 500;
  overflow-y: auto;
}

.loading {
  font-size: 30px;
  color: red;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: red;
  text-decoration: underline;
}
