.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  text-align: center;
  font-size: 30px;
  color: red;
}

.infoBlock {
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
}

.countryImg {
  width: 220px;
  height: 120px;
}
